@media (max-width: 1024px) {
	
	.middle-div {
		flex-direction: column;
	}
	.middle-div-txt {
		width: 100%;
		align-items: center;
	}
	.three-div {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.middle-div-img {
		width: 100%;
		margin-top: 20px;
	}
	.six-div-container {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@media (max-width: 768px) {
	
	.six-div2 {
		margin-right: 0px;
	}
	.nav-li a {
		font-size: 20px;
	}
	.six-div1, 
	.six-div2 {
		width: 251px;
	}
}

@media (max-width: 480px) {
	.nav-wrapper {
		display: none
	}
	.burger-bar {
		display: block;
	}
	.burger-bar:hover {
		cursor: pointer;
	}
	.satauri h1 {
		font-size: 70px;
	}
	.three-div {
		font-size: 20px;
	}
	.middle-div-txt {
		align-items: center;
	}
	.middle-div-button {
		width: 207px;
	    height: 72px;
	}
}

@media (max-width: 320px) {
	.nav-wrapper {
		display: none
	}
	.burger-bar {
		display: block;
	}
	.banner {
		background-image: none;
		background-color: #98aaef;
	}
	.banner-button {
	width: 207px;
	height: 72px;
} 
.middle-div-txt h2 {
	font-size: 25px;
}
.three-div {
	flex-wrap: wrap;
}
.middle-div-txt {
		width: 100%;
		align-items: center;
	}
.middle-div-img {
		width: 100%;
		margin-top: 20px;
	}
.six-div1, 
.six-div2 {
		width: 100%;
		margin-right: 0px;
	}
}